{{ define "main" }}

    {{ with .CurrentSection.Pages }}
    {{/*  sm:w-[640px] md:w-[760px] lg:w-[1024px]  */}}
        <div class="flex flex-col items-center w-full h-[90%] lg:mt-16 overflow-scroll self-center">
            <h1 class="text-3xl p-1 m-1 lg:mb-16">{{ $.Title }}</h1>
            <div class="flex flex-wrap max-w-5xl overflow-scroll justify-evenly bg-neutral-content rounded-2xl drop-shadow-[0px_0px_5px_rgba(7,154,130,0.8)]">
                {{ with site.Params.release_types }}
                    {{ range $page_val := where ($.CurrentSection.Pages.ByParam "data.year") "Params.data.type" "in" . }}
                        {{ if $page_val.Params.data.disco_gs_id }}
                            {{ with partial "disco_gs.html" . }}
                            <a href="{{ $page_val.RelPermalink }}"
                                class="shrink-0 p-2 max-w-[150px]">
                                <div class="release-card">
                                    {{ with .img }}
                                        {{ with (.Resize "200x").Fill "200x200" }}
                                            <img src="{{ .RelPermalink }}" alt="{{ $page_val.Title }}" class="rounded-2xl w-[100%]">
                                        {{ end }}
                                    {{ end }}
                                    <p class="text-xl">{{ $page_val.Title }}</p>
                                    <p class="text-sm">{{ .year }}</p>
                                </div>    
                            </a>
                            {{ end }}
                        {{ else }}
                            <a href="{{ .RelPermalink }}"
                                class="shrink-0 max-w-[150px] p-2">
                                <div class="release-card">
                                    {{ with .Params.data.cover }}
                                        {{ with $page_val.Resources.GetMatch . }}
                                            {{ with .Resize "150x" }}
                                                <img src="{{ .RelPermalink }}" alt="{{.Title }}" class="rounded-2xl w-[100%]">
                                            {{ end }}
                                        {{ else }}
                                            {{ warnf "%s %q" "Resource not found. Check front matter \".data.cover\" entry in" $page_val.File.Path }}
                                        {{ end }}
                                    {{ end }}
                                    <p class="text-xl">{{ .Title }}</p>
                                    <p class="text-sm">{{ .Params.data.year }}</p>
                                </div>
                            </a>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    {{ end }}
    
{{ end }}