{{ define "main" }}

    {{ with .Params.data.cover }}
        {{ with or ($.Resources.GetMatch .) ($.Parent.Resources.GetMatch .) }}
            {{ with .Resize "500x" }}
                <figure>
                    <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
                </figure>
            {{ end }}
        {{ else }}
                {{ warnf "%s %q" "Resource not found. Check front matter \".data.cover\" entry in" $.File.Path }}
        {{ end }}
    {{ end }}

    <h1>{{ .Title }}</h1>
    
    {{.Content}}

    {{- if or .Params.data.lyrics .Params.data.music .Params.data.arr -}}
        <i>( {{ .Params.data.lyrics }} - {{ .Params.data.music }} - {{ .Params.data.arr }} )</i>
    {{- end }}
    <hr>
    
    {{ with .Params.data.audio }}
        {{ with $.Resources.GetMatch . }}
            <audio controls src="{{ .RelPermalink }}"></audio>
        {{ else }}
            {{ warnf "%s %q" "Resource not found. Check front matter \".data.audio\" entry in" $.File.Path }}
        {{ end }}
    {{ end }}
    
{{ end }}