{{ define "main" }}

    {{/*  <h1>{{ .Title }}</h1>
    {{ range .Resources.Match "images/*.jpg" }}
        {{ with .Resize "500x" }}
            <a href="{{ .RelPermalink }}">
                <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
            </a>
        {{ end }}
    {{ else }}
        {{ with resources.GetMatch "images/default_gallery_album_image.png" }}
            {{ with .Resize "600x" }}
                <img src="{{ .RelPermalink }}" alt="">
            {{ end }}
        {{ end }}
        {{ warnf "%s%s%s" "Default album image is showing. Please add some images in '" $.File.Dir "images/' dir" }}
    {{ end }}  */}}

{{ end }}