<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .OutputFormats.Get "json" }}
        {{ $params := dict "PATH" .Permalink }}
        {{ $search := resources.Get "js/search.js" | js.Build (dict "params" $params) }}
        <script src="{{ $search.RelPermalink }}" defer></script>
    {{ end }}
    {{ $contact := resources.Get "js/contact.js" | js.Build }}
    <script src="{{ $contact.RelPermalink }}" defer></script>
    <title>{{ .Title }}</title>
</head>
    <body>
        {{ range .Site.Menus.main }}
            <a {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} style="font-size: 1.5em;" {{ end }} 
                href="{{ .URL }}">{{ .Name }}
            </a>
            {{ if .HasChildren }}
                {{ range .Children }}
                    <a {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} style="font-size: 1.5em;" {{ end }} 
                        href="{{ .URL }}">{{ .Name }}
                    </a>
                {{ end }}
            {{ end }}
        {{ end }}
        
        {{ block "main" . }}

        {{ end }}
        
    </body>
</html>
