{{ $id := .Params.data.disco_gs_id }}
{{ $token := .Site.Params.discoGs_token }}
{{ $link := printf "%s%v?token=%s" "https://api.discogs.com/releases/" $id  $token }}

{{ $response := getJSON $link }}

{{ $data := dict }}
{{ $tracklist := slice }}
{{ $format := "" }}

{{ range first 1 $response.images }}
    {{ $img := resources.GetRemote .resource_url }}
    {{ $data = merge $data (dict "img" $img) }}
{{ end }}

{{ range $response.tracklist }}
    {{ $tracklist = $tracklist | append .title }}
    {{ $data = merge $data (dict "tracklist" (slice $tracklist)) }}
{{ end }}

{{ with $response.title }}
    {{ $data = merge $data (dict "title" .) }}
{{ end }}

{{ range $response.formats }}
    {{ if eq .name "CD" }}
        {{ $format = "Album" }}
    {{ else if eq .name "DVD" }}
        {{ $format = "DVD" }}
    {{ else }}
        {{ $format = "Other"}}
    {{ end }}
    {{ $data = merge $data (dict "type" $format)}}
{{ end }}

{{ with $response.year }}
    {{ $data = merge $data (dict "year" .) }}
{{ end }}

{{ return $data }}