{{ define "main" }}

    <h1>Title: "{{ .Title }}"</h1>
    <p><b>Description: "{{ .Description }}"</b></p>
    <p><b>Date: "{{ .Date | time.Format ":date_full" }}"</b></p>
    <hr>

    {{ with .Resources.GetMatch .Params.event.flyer }}
        {{ with .Resize "500x" }}
            <h3>{{ .Title }}</h3>
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
        {{ end }}
    {{ end }}
        
    {{ with .Resources.GetMatch .Params.event.venue }}
        {{ with .Resize "500x" }}
            <h3>{{ .Title }}</h3>
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
        {{ end }}
    {{ end }}

{{ end }}