{{ define "main" }} {{/*
<div>
    */}} {{/*
    <div class="text-xl badge badge-lg">
        <h1>Title: "{{ .Title }}"</h1>
        <h2>Description: "{{ .Description }}"</h2>
        <p>Date: "{{ .Date | time.Format ":date_full" }}"</p>
    </div>
    */}}

    <section class="overflow-scroll flex flex-col grow justify-center">
        {{/* px-4 py-16 sm:px-6 lg:px-8 */}}
        <div class="w-[90%] max-w-[1024px] lg:h-1/2 self-center">
            <div class="grid grid-cols-1 lg:h-full lg:grid-cols-2">
                <div class="relative z-10 lg:py-16">
                    <div class="relative h-64 sm:h-80 lg:h-full">
                        {{ with .Resources.GetMatch .Params.event.venue }}
                        <img
                            src="{{ .RelPermalink }}"
                            class="absolute inset-0 h-full w-full object-cover"
                        />
                        {{ end }}
                    </div>
                </div>

                <div class="relative flex items-center bg-primary bg-[url('')]">
                    <span
                        class="hidden lg:absolute lg:inset-y-0 lg:-left-16 lg:block lg:w-16 lg:bg-primary"
                    ></span>
                    <div class="p-8 sm:p-16 lg:p-24">
                        <h2 class="text-2xl font-bold sm:text-3xl">
                            {{ .Title }}
                        </h2>
                        <p>{{ .Date | time.Format ":date_full" }}</p>
                        <p class="mt-4">{{ .Description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{/* {{ if .Params.event.venue }} {{ with .Resources.GetMatch
    .Params.event.venue }}
    <div class="">
        <img src="{{ .RelPermalink }}" alt="" />
        <div>
            <div class="text-xl bg-primary">
                <h1>Title: "{{ $.Title }}"</h1>
                <h2>Description: "{{ $.Description }}"</h2>
                <p>Date: "{{ $.Date | time.Format ":date_full" }}"</p>
            </div>
        </div>
        {{ if $.Params.event.flyer }} {{ with $.Resources.GetMatch
        $.Params.event.flyer }}
        <div class="">
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}" />
        </div>
        {{ else }} {{ warnf "%s %q" "Resource not found. Check front matter
        \".event.flyer\" entry in" .File.Path }} {{ end }} {{ end }}
    </div>
    {{ else }} {{ warnf "%s %q" "Resource not found. Check front matter
    \".event.venue\" entry in" .File.Path }} {{ end }} {{ end }} */}} {{/*
</div>
*/}} {{ end }}
