{{ $src := .Get "src" }}
{{ $resize := dict "height" (.Get "resize_height") "width" (.Get "resize_width") }}
{{ $img := .Page.Resources.GetMatch $src }}

{{ with $img }}
    {{ if and $resize.height $resize.width }}
        {{ warnf "It is not alowed to use 'height' and 'width'. Check shortcode: %s" $.Position }}
    {{ else if $resize.height }}
        {{ with .Resize (printf "%sx" $resize.height) }}
            <img src="{{ .RelPermalink }}">
        {{ end }}
    {{ else if $resize.width }}
        {{ with .Resize (printf "%sx" $resize.width) }}
            <img src="{{ .RelPermalink }}">
        {{ end }}
    {{ else }}
        <img src="{{ .RelPermalink }}">
    {{ end }}
{{ else }}
    {{ warnf "%s%q %s%s" "src=" $src "resource not found. Check shortcode: " $.Position }}
{{ end }}
